body {
  background-color: black;
}
h1 {
  color: white;
}

.card {
  background-color: black;
  color: white;
}

.nav-link {
  color: #E0218A;
}

/* styling for repos page */
#repos-page-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
#containers-repos {
  display: flex;
  flex-direction: column;
}
.card-title {
  color:#E0218A;
}

.card-title {
  color: #E0218A;
}

.form-label {
  color: #E0218A;
}
.btn-primary {
  background-color: #E0218A;
}
.btn-primary:hover{
  background-color: gray;
}
#main-container-pkg .card {
  border-style: solid;
  border-width: thin;
  border-color: #E0218A;
}
