body {
  background-color: black;
}
h1 {
  color: white;
}

.card {
  background-color: black;
  color: white;
  border: 1.5px solid #E0218A;
}

.card-body {
  font-family: Arial, Helvetica, sans-serif;
  align-items: baseline;
  
}

.info {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  font-size: 14px;
}

.location {
  display: inline-flex;
  align-items: baseline;
}

.email {
  display: inline-flex;
  align-items: baseline;
}

.web {
  display: inline-flex;
  align-items: baseline;
}

.twitter {
  display: inline-flex;
  align-items: baseline;
}

.info p {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-img-top {
  width: 230px; 
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.card-body > p {
  font-style: italic;
  margin-top: 20px;
}

.card-body > h5 {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.3;
}

.nav-link {
  color: #E0218A;
}

#repos-page-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
#main-conatainer-repo {
  display: flex;
  flex-direction: column;
}
.card-title {
  color:#E0218A;
}

.card-title {
  color: #E0218A;
}

.form-label {
  color: #E0218A;
}
.btn-primary {
  background-color: #E0218A;
}
.btn-primary:hover{
  background-color: gray;
}
.nav-link:hover {
  color: #FDC5EE;
}
.btn-pink{
  background-color:#E0218A;
  color: black;
}
.btn-pink:hover{
  background-color:#FDC5EE;
  color: black;
}
#main-container-pkg .card {
  border-style: solid;
  border-width: thin;
  border-color: #E0218A;
}
#form-container{
  width:100%;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-top: 25px;
  margin-right: 20%;
  margin-bottom: 25px;
  margin-left: 8%;
  position: absolute;
  color: white;
  background-color: black;
}
.form-control {
  background-color: black;
  color: pink;
}
.nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  align-items: baseline;
}

li {
  margin-right: 50px;
}



#projSubmit {
  background-color: #E0218A;
}

#proj-page-containter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#form-container-proj {
  align-self: flex-end;
  border: 1.5px solid #E0218A;
  padding: 20px;
  height: 295px;
  overflow-y: scroll;
}

#containers {
  flex-direction: column;
}

#main-container-proj {
  height: 295px;
  overflow-y: scroll;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 15px; 
  border: 1.5px solid #E0218A;
  padding: 20px;

}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
}

.form-control {
  height: 25px;
  background-color: #3B3535;
  color: white;
}

.form-check-input {
  background-color: #3B3535;
}
