body {
  background-color: black;
}
h1 {
  color: white;
}

.card {
  background-color: black;
  color: white;
}

.nav-link {
  color: #E0218A;
}

#repos-page-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
#main-conatainer-repo {
  display: flex;
  flex-direction: column;
}
.card-title {
  color:#E0218A;
}

.card-title {
  color: #E0218A;
}
#pkg-page-container {
  display: flex;
}
#form-container-pkg {
  align-self: flex-end;
}
#containers {
  flex-direction: column;
}
.form-label {
  color: #E0218A;
}
#main-container-pkg{
  display: flex;
  flex-direction: row;
}
.btn-primary {
  background-color: #E0218A;
}
.btn-primary:hover{
  background-color: gray;
}
