body {
  background-color: black;
}
h1 {
  color: white;
}

.card {
  background-color: black;
  color: white;
  border: 1.5px solid #E0218A;
}

.card-body {
  font-family: Arial, Helvetica, sans-serif;
  align-items: baseline;
  
}

.info {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  font-size: 14px;
}

.location {
  display: inline-flex;
  align-items: baseline;
}

.email {
  display: inline-flex;
  align-items: baseline;
}

.web {
  display: inline-flex;
  align-items: baseline;
}

.twitter {
  display: inline-flex;
  align-items: baseline;
}

.info p {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-img-top {
  width: 230px; 
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.card-body > p {
  font-style: italic;
  margin-top: 20px;
}

.card-body > h4 {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.3;
}

.nav-link {
  color: #E0218A;
}

/* Repos Page Design */
#repos-page-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
  gap: 20px;
  justify-content: space-evenly;
}

#containers-repos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#repo-card-title-info {
  display: flex;
  direction: row;
  justify-content: space-between;
}

#repo-card-container {
  border: 1.5px solid #E0218A;
  padding: 20px;
}

#repo-search {
  border: 1.5px solid #E0218A;
  padding: 20px
}

#repo-tags {
  color: gray;
}

#form-container-repo {
  border: 1.5px solid #E0218A;
  padding: 20px;
}

h5 {
  color: white;
}

#repo-form-title {
  color: white;
}

.container-fluid {
  background-color: black;
  outline: none;
}

.card-title {
  color:#E0218A;
}

.form-label {
  color: #E0218A;
}
.btn-primary {
  background-color: #E0218A;
}
.btn-primary:hover{
  background-color: #FDC5EE;
}
.nav-link:hover {
  color: #FDC5EE;
}
.btn-pink{
  background-color:#E0218A;
  color: black;
}
.btn-pink:hover{
  background-color:#FDC5EE;
  color: black;
}
#form-container{
  width:100%;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-top: 25px;
  margin-right: 20%;
  margin-bottom: 25px;
  margin-left: 8%;
  position: absolute;
  color: white;
  background-color: black;
}
.form-control {
  background-color: black;
  color: pink;
}
.nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  align-items: baseline;
}

li {
  margin-right: 50px;
}

#projSubmit {
  background-color: #E0218A;
}

#proj-page-containter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#form-container-proj {
  align-self: flex-end;
  border: 1.5px solid #E0218A;
  padding: 20px;
  height: 295px;
  overflow-y: scroll;
}


#main-container-proj {
  height: 295px;
  overflow-y: scroll;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 15px; 
  border: 1.5px solid #E0218A;
  padding: 20px;

}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
}

.form-control {
  height: 25px;
  background-color: #3B3535;
  color: white;
}

.form-check-input {
  background-color: #3B3535;
}
#containers-pkg{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 250px);
}
.pkg-page-container {
  display: flex;
  margin-left: 200px;
  padding-right: 20px;
  padding-bottom: 50px;
}
#form-container-pkg {
  border: 1.5px solid #E0218A;
  width: 600px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 900px;
  padding: 10px;
}
#main-container-pkg {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 20px; 
  height: auto; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 500px;
  border: 1.5px solid #E0218A;
  padding: 10px;
}
